<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Twig Demo</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>

<body>
    <header>
        <h3>Twig Demo</h3>
    </header>
    <main>
        <ul class="article-list">
            {% for article in article_list %}
            <li class="article-item">
                <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <p class="article-author">By {{ article.author }}</p>
                <p class="article-date">{{ article.published_date|date('F j, Y') }}</p>
                <p class="article-excerpt">{{ article.excerpt }}</p>
                <p class="article-tags">Tags: 
                    {% for tag in article.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </p>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>{{ PROJECT  }}</p> 
        <p>{{ COPYRIGHT  }}</p>
    </footer>
</body>

</html>